################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JTextLine/v15
/JTextLine/obj/Debug
/JTextLine/bin/Debug
/packages/MetroModernUI.1.4.0.0
/.vs/JTextLine
